body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.Moda {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%) blur(1px);
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    z-index: 1;
}

.login-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333333;
}

.login-container input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
}

.login-container button {
    padding: 10px;
    background-color: rgb(215, 12, 100);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: rgb(227, 78, 103);
}

.login-container p {
    margin-top: 15px;
    font-size: 14px;
    color: #666666;
}

.login-container p a {
    color: rgb(121, 12, 69);
    text-decoration: none;
}

.login-container p a:hover {
    text-decoration: underline;
}